<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand fs-4 fw-bold" href="#">TweetBar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link fs-5 {% if request.resolver_match.url_name == 'index' %}active{% endif %}" aria-current="page" href="{% url 'tweet_app:index' %}">Home</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link fs-5 {% if request.resolver_match.url_name == 'tweet' %}active{% endif %}" href="{% url 'tweet_app:tweet' %}">Tweet</a>
          </li>
          
            
          
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>